#app-container {
  border: 2px solid #cdcdcd;
  overflow: hidden;
  padding: .75%;

  p {
    margin: 0;
  }

  .infobox {
    width: 40%;
    border: 1px solid #cdcdcd;
    float: right;
  }

  .builder {

    &.exclusives {
      .active {
        display: none;
      }
    }

    .inactive {
      display: none;
    }
  }
}

#app-container.mobile {
  width: 100%
}
