#nav-tabs {
  margin-bottom: -2px;
}

.tab {
  display: inline-block;
  width: calc((100%/11) - .5% - 2px);
  margin: 0 .25%;
  border: solid #cdcdcd 1px;
  border-bottom: none;
  padding: .25% 0;
  text-align: center;
  vertical-align: bottom;
  font-size: .75em;
  cursor: pointer;
}

.tab.activeTab {
  background-color: #5c5c5c;
}
